/* Fixes shorts thumbnails */
.ytLrTileHeaderRendererShorts {
  z-index: -1;
}

/* Makes black control underneath video player transparent. Set to 0 to remove it */
/* Feb 1 2026 Note: older YouTube layout no longer exists so these aren't needed anymore */
/* .ytLrWatchDefaultControlsBackground { /* webOS 24 */
  /* opacity: 0.6; */
/* } */
/* .judYce { /* webOS 23 */
  /* opacity: 0.6; */
/* } */

/* move stats for nerds UI to the left side of the screen so it's not blocked by the settings panel */
.iLKnN .html5-video-info-panel {
	right: 40rem !important;
	top: 12rem !important;
}

/**
 * Dirty hack to fix offset <video> on shorts on older webOS versions.
 * This shouldn't work but it does 😵‍💫.
 * See webosbrew/youtube-webos/pull/235 for insanity.
 */
.WEB_PAGE_TYPE_SHORTS video {
  border: black 1px solid;
  /* Smallest transparent image */
  border-image: url('data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7')
    30%;
}
